# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{js,py,html,css,sass,scss,less,info}]
indent_style = tab
indent_size = 2

# To work according to the coding standards of Drupal
[*.{php,module,install,inc}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
